body {
  background-color: #0f0e0e;
  display: flex;
  flex-direction: column;
}

#root {
  /* max-width: 1280px; */
  padding: 2rem;
  text-align: center;
  background-color: #0f0e0e;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.giftList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giftItem {
  border: 1px solid #f8f4f4;
  padding: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: auto;
}

.giftItem img {
  max-width: 100px;
  max-height: 100px;
}

img {
  width: 30vw;
}

.cartitem {
  border: solid 1px white;
  margin-bottom: 20px;
  padding: 20px;
}

.cart-name {
  font-weight: 600;
  font-size: 25px;
}
