html {
  background-color: rgb(10, 11, 11);
}

body {
  margin: 0;
  background-color: rgb(16, 15, 15);
  color: #111213;
  display: flex;
}

a {
  list-style: none;
  color: rgb(9, 8, 8);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button,
select {
  /* background-color: transparent; */
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: transparent;
  color: transparent;
  padding: 0px 20px;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 20px;
  border: 10px;
  /* display: flex;
  justify-content: flex-start; */
}

nav li {
  list-style: none;
  color: transparent;
  margin: 30px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  justify-items: stretch;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: transparent;
}

.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
/* h1 {
  color: yellow;
}
h2 {
  color: yellow;
} */
.title {
  color: rgb(204, 255, 127);
  margin: 30 px;
}

.giftItem {
  border: solid white 1 px;
  padding: 30px;
}
